{{ define "header" }}

<!doctype html>
<html lang="en">
    <head>
        <title>Crud</title>
        <!-- Required meta tags -->
        <meta chatset="utf-8">
        <meta name="viewport" content="width-device-width, initial-scale=1, shrink-to-fit="no">

        <!-- Bootstrap CSS -->
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.1/dist/css/bootstrap.min.css" integrity="sha384-zCbKRCUGaJDkqS1kPbPd7TveP5iyJE0EjAuZQTgFLD2ylzuqKfdKlfG/eSrtxUkn" crossorigin="anonymous" -->
    </head>
    <body>

        <nav class="navbar navbar-expand navbar-light bg-light">
            <div class="nav navbar-nav">
                <a class="nav-item nav-link active" href="#">System <span class="sr-only">(current)</span></a>
                <a class="nav-item nav-link" href="#">Home</a>
            </div>
        </nav>

        <div class="container">

{{ end }}