{{ define "home" }}

{{ template "header" }}
<a name="" id="" class="btn btn-primary" href="/create" role="button">Add user</a>

            <table class="table">
                <thead>
                    <th>ID</th>
                    <th>Name</th>
                    <th>Email</th>
                    <th>Actions</th>
                </thead>
                <tbody>
                    {{ range. }}
                        <tr>
                            <td>{{ .Id }}</td>
                            <td>{{ .Name }}</td>
                            <td>{{ .Email }}</td>
                            <td>Edit | Delete</td>
                        </tr>
                    {{ end }}
                </tbody>
            </table>

{{ template "footer" }}

{{end}}